<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-8 col-xs-offset-2">
            <h3>Shopping</h3>
            <hr/>
            <h4 class="question">Q: How do I place an order?</h4>
            <p>A:&nbsp;First you need to set up an account, once that is created you are ready to place an order.</p>
            <h4 class="question">Q: How do I set up an account?&nbsp;</h4>
            <p>A: Click on the login button in the upper right hand corner of the main page and then click on create an
                account.</p>
            <h4 class="question">Q: Are all of the items guaranteed in stock?</h4>
            <p>A: We try to update the website as often as possible to reflect out of stock conditions. However, the
                ability to order an item does not guarantee that it will be in stock when your order is processed. You
                will be notified if an order is not available.
            </p>
            <h4 class="question">Q: I can't find a specific item on the website, are there items available that are not
                listed on the
                website?</h4>
            <p>A:&nbsp;The items that are currently shown on our website represent what is currently available to view
                and order online. There is a wider selection of merchandise available at the UVM KicksStore and the
                Catamount Store.
            </p>
            <h4 class="question">Q: How can I cancel or change my order?</h4>
            <p>A:&nbsp;You can cancel your order or make a change to it by contacting us at 1.999.999.9999 as soon as
                possible after your order is placed with your name, order number, and a request for cancellation or a
                description of the requested change.
            </p>
        </div>
    </div>
</div>
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>